.browsePage {
    background-image: linear-gradient(to right, #1e2130, #090b13);
    height: 100%;
}

.slideshow {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 1rem 0;
}


.slide {
    position: relative;
    box-shadow: 2px 2px 10px #000000;
}

.slideAnimation {
    animation-name: slideIt;
    animation-duration: 1s;
}

@keyframes slideIt {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slide img {
    width: 100%;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0;
}
.bullet {
    background-color: #000000;
    width: 7px;
    height: 7px;
    border-radius: 15px;
    margin: 0 0.3rem;
    cursor: pointer;
}

.currentIndex {
    background-color: #ffffff;
}

.channels {
    margin: 0 1rem;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;

}

.channel {
    display: grid;
    place-items: center;
    border: 2px solid #2e313c;
    border-radius: 6px;
    box-shadow: 2px 2px 10px #000000;
    cursor: pointer;
}

.channel:hover {
    box-shadow: 2px 2px 15px #000000;
}

.channel img {
    width: 12.5rem;
}
.categories {
    padding: 2rem 0;
}
.category {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}


.categoryTitle {
    font-size: 1rem;
    color: #f3f3f3;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.categoryImg {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.categoryImg img {
    border-radius: 5px;
    max-width: 100%;
    cursor: pointer;
}

.categoryImg img:hover {
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    /* Add any additional hover effects you want for the images here */
}

@media only screen and (max-width: 1200px) {
    .channels {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .channels {
        grid-template-columns: 1fr 1fr;
    }
    .categoryImg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .channels {
        grid-template-columns: 1fr;
    }
    .categoryImg {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
    }
    .channel img {
    width: 22rem;
}
}